<%- include('partials/header.ejs'); -%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3 text-center mt-4">Record a New Donation Inflow</h4>
            <hr class="my-4">
            <form class="needs-validation" action="/donationInflows/create" method="POST">
                <div class="row g-3">

                    <div class="col-sm-6">
                        <label for="recordName" class="form-label required">Record Name</label>
                        <input type="text" class="form-control" id="recordName" name="recordName" required>
                        <div class="invalid-feedback">
                            Valid record name is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="donorInput" class="form-label">Donor<span class="text-body-secondary"></label>
                        <input type="text" class="form-control" id="donorInput" placeholder="Select or type donor" data-bs-toggle="modal" data-bs-target="#donorModal" readonly>
                        <input type="hidden" name="donor" id="donorHidden" data-type="">
                        <input type="hidden" name="donorType" id="donorTypeHidden" data-type="">
                    </div>
                    
                    <!-- Donor Selection Modal -->
                    <div class="modal" id="donorModal" tabindex="-1" aria-labelledby="donorModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="donorModalLabel">Choose a donor or register a new one</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-block mb-3">
                                        <button class="btn btn-primary" type="button" id="submittedDonor">Select Donor</button>
                                        <span class="mb-5" id="selectedDonor" data-type="" style="margin-left: 10px;"></span>
                                    </div>
                                    <div class="d-block mb-3">
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" 
                                            data-bs-toggle="dropdown" aria-expanded="false">Organizations 
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <% if (orgs && orgs.length > 0) { %>
                                                    <% orgs.forEach(org => { %>
                                                        <li><a class="dropdown-item" href="#" data-value="<%= org.organizationid %>" data-type="organization"><%= org.organizationname %></a></li>
                                                    <% }) %>
                                                <% } else { %>
                                                    <li><a class="dropdown-item non-clickable" aria-readonly="true">No organization found</a></li>
                                                <% } %>
                                            </ul>
                                        </div>  
                                    </div>

                                    <div class="d-block mb-3">
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" 
                                            data-bs-toggle="dropdown" aria-expanded="false">Members
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <% if (members && members.length > 0) { %>'
                                                    <% members.forEach(member => { %> 
                                                        <li><a class="dropdown-item" href="#" data-value="<%= member.memberid %>" data-type="member"><%= member.firstname %> <%= member.lastname %></a></li>
                                                    <% }) %>
                                                <% } else { %>
                                                    <li><a class="dropdown-item non-clickable" aria-readonly="true">No member found</a></li>
                                                <% } %>
                                            </ul>
                                        </div>  
                                    </div>

                                    <div class="d-block mb-3">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Add
                                                <input id="newDonor" data-type="newDonor"/>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
     
                    <div class="col-sm-4">
                        <label for="category" class="form-label">Category</label>
                        <input type="text" class="form-control" id="category" name="category">
                    </div>

                    <div class="col-sm-4">
                        <label for="amount" class="form-label required">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                        <div class="invalid-feedback">
                        Please enter an amount.
                        </div>
                    </div>
                
                    <div class="col-sm-4">
                        <label for="donationDate" class="form-label required">Date</label>
                        <input type="date" class="form-control" id="donationDate" name="donationDate" placeholder="YYYY-MM-DD" required>
                        <div class="invalid-feedback">
                        Please enter your donation date.
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg mb-5" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

function selectDonor(donorName, donorID, donorType) {
    document.getElementById('selectedDonor').textContent = donorName; 
    document.getElementById('selectedDonor').dataset.value = donorID; 
    document.getElementById('selectedDonor').dataset.type = donorType;
}


document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('organizationSearch');
    const organizationList = document.getElementById('organizationList');
    const organizationInput = document.getElementById('donorInput');
    const hiddenInput = document.getElementById('donorHidden');

    searchInput.addEventListener('keyup', function() {
        const searchText = searchInput.value.toLowerCase();

        Array.from(organizationList.querySelectorAll('.list-group-item')).forEach(function(item) {
            const text = item.textContent.toLowerCase();
            item.style.display = text.includes(searchText) ? '' : 'none';
        });
    });

    organizationList.addEventListener('click', function(e) {
        if (e.target.tagName === 'BUTTON' && e.target.classList.contains('list-group-item-action')) {
            organizationInput.value = e.target.textContent; // Update the disabled input field
            hiddenInput.value = e.target.getAttribute('data-value'); // Set the value in hidden input for form submission
            var myModalEl = document.getElementById('organizationModal');
            var modal = bootstrap.Modal.getInstance(myModalEl);
            modal.hide(); // Hide the modal
        }
    });
});

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("submittedDonor").addEventListener('click', function() {
        const donorName = document.getElementById('selectedDonor').textContent;
        const donorID = document.getElementById('selectedDonor').dataset.value;
        const donorType = document.getElementById('selectedDonor').dataset.type;

        document.getElementById('donorInput').value = donorName;
        document.getElementById('donorHidden').value = donorID;
        document.getElementById('donorTypeHidden').value = donorType;

        var modalElement = document.getElementById('donorModal');
        var modalInstance = bootstrap.Modal.getInstance(modalElement);
        modalInstance.hide();
    })
})

document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.dropdown-menu .dropdown-item').forEach(item => {
        item.addEventListener('click', function() {
            selectDonor(this.textContent, this.dataset.value, this.dataset.type);
        });
    });
});




document.querySelector('form.needs-validation').addEventListener('submit', function(event) {
    const hiddenInput = document.getElementById('organizationHidden');
    
    // Check if the hidden input has a value
    if (!hiddenInput.value) {
        event.preventDefault(); // Prevent the form from submitting
        event.stopPropagation(); // Stop propagation of the event

        // Provide feedback to the user that organization selection is required
        organizationInput.classList.add('is-invalid'); // Highlight the input field
        // alert('Please select an organization before submitting.'); // Alert or some better feedback
    } else {
        organizationInput.classList.remove('is-invalid'); // Remove the highlight if the selection is made
    }
});



</script>   
    
<%- include('partials/footer.ejs'); -%>
