<%- include('partials/header.ejs'); -%>

<h4 class="mb-3 text-center mt-4">Annual Event Summary</h4>
<hr class="my-4">
<table class="table" id="yearlyDataTable">
  <thead>
    <tr>
      <th class="col-4 text-center">Year</th>
      <th class="col-4 text-center">Cost</th>
      <th class="col-4 text-center">Amount Raised</th>
    </tr>
  </thead>
  <tbody>
    <% stats.forEach(stat => { %>
    <tr>
          <td class="text-center"><%= stat.eventYear %></td>
          <td class="text-center"><%= stat.totalEventCost %></td>
          <td class="text-center"><%= stat.totalAmountRaised %></td>
      </tr>
      <% }) %>
    </tbody>
</table>
<%- include('partials/footer.ejs'); -%>
