<%- include("partials/header.ejs"); %>
            <h4 class="mb-3 text-center mt-4">Donation Outflow Information</h4>
            <hr class="my-4">
            <form class="needs-validation" id="updateForm" action="/updateDonationOutflow/<%= donation.donationoutflowid %>" method="POST">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="recordName" class="form-label">Record Name</label>
                        <input type="text" class="form-control" id="recordName" name="recordName" value="<%= donation.recordname %>" required disabled>
                        <div class="invalid-feedback">
                            Valid record name is required.
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <label for="organizationInput" class="form-label">Organization<span class="text-body-secondary">(if not found, please add first) </label>
                        <input type="text" class="form-control" id="organizationInput" value="<%= donation.organizationname %>" placeholder="Select an Organization" data-bs-toggle="modal" data-bs-target="#organizationModal" readonly disabled>
                        <input type="hidden" name="organization" id="organizationHidden" value="<%= donation.organizationid %>">
                    </div>
                    
                    <!-- Organization Selection Modal -->
                    <div class="modal" id="organizationModal" tabindex="-1" aria-labelledby="organizationModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="organizationModalLabel">Choose an organization</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-block mb-3">
                                        <div class="dropdown">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" 
                                            data-bs-toggle="dropdown" aria-expanded="false">Organizations 
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <% if (orgs && orgs.length > 0) { %>
                                                    <% orgs.forEach(org => { %>
                                                        <li><a class="dropdown-item" href="#" data-value="<%= org.organizationid %>" data-type="organization"><%= org.organizationname %></a></li>
                                                    <% }) %>
                                                <% } else { %>
                                                    <li><a class="dropdown-item non-clickable" aria-readonly="true">No organization found</a></li>
                                                <% } %>
                                            </ul>
                                        </div>  
                                    </div>

                                    <div class="d-block mb-3">
                                        <button class="btn btn-primary" type="button" id="submittedOrganization">Select Organization</button>
                                        <span class="mb-5" id="selectedOrganization" data-type="" style="margin-left: 10px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
     
                    <div class="col-sm-6">
                        <label for="contactPerson" class="form-label required">Contact Person</label>
                        <input type="text" class="form-control" id="contactPerson" name="contactPerson">
                    </div>

                    <div class="col-sm-4">
                        <label for="category" class="form-label">Category</label>
                        <input type="text" class="form-control" id="category" name="category" value="<%= donation.category %>" disabled>
                    </div>
                    <div class="col-sm-4">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" value="<%= donation.amount %>" required disabled>
                        <div class="invalid-feedback">
                        Please enter an amount.
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="donationDate" class="form-label">Date</label>
                        <input type="date" class="form-control" id="donationDate" name="donationDate" placeholder="YYYY-MM-DD" value="<%= donation.donationdate %>" required disabled>
                        <div class="invalid-feedback">
                        Please enter your donation date.
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg my-4 mx-1" onclick="toggleEdit()" id="editButton">Edit Record</button>
                    <button type="submit" class="btn btn-primary btn-lg my-4 mx-1" style="display:none;" id="updateButton">Save Changes</button>
                    <button type="button" class="btn btn-secondary btn-lg my-4 mx-1" onclick="cancelEdit()" style="display:none;" id="cancelButton">Cancel Changes</button>
                </div>                
            </form>

<script>

    function selectOrganization(organizationName, organizationID) {
        document.getElementById('selectedOrganization').textContent = organizationName; 
        document.getElementById('selectedOrganization').dataset.value = organizationID; 
}


    function toggleEdit() {
    const formElements = document.querySelectorAll('#updateForm input, #updateForm select');
    formElements.forEach(element => {
        element.disabled = false;
    });
    document.getElementById('editButton').style.display = 'none';
    document.getElementById('updateButton').style.display = 'block';
    document.getElementById('cancelButton').style.display = 'block';
}

function cancelEdit() {
    // Refresh the page
    window.location.reload();
}


document.addEventListener('DOMContentLoaded', function() {

    // Clicking on the organization shows the modal
    document.getElementById("submittedOrganization").addEventListener('click', function() {
        const organizationName = document.getElementById('selectedOrganization').textContent;
        const organizationID = document.getElementById('selectedOrganization').dataset.value;

        document.getElementById('organizationInput').value = organizationName;
        document.getElementById('organizationHidden').value = organizationID;

        var modalElement = document.getElementById('organizationModal');
        var modalInstance = bootstrap.Modal.getInstance(modalElement);
        modalInstance.hide();
    })

    // Choose anorganization from the dropdown in the modal
    document.querySelectorAll('.dropdown-menu .dropdown-item').forEach(item => {
        item.addEventListener('click', function() {
            selectOrganization(this.textContent, this.dataset.value);
        });
    });


    document.querySelector('form.needs-validation').addEventListener('submit', function(event) {
        const organizationInput = document.getElementById('organizationInput');
        const hiddenInput = document.getElementById('organizationHidden');
        
        // Check if the hidden input has a value
        if (!hiddenInput.value) {
            event.preventDefault(); // Prevent the form from submitting
            event.stopPropagation(); // Stop propagation of the event

            // Provide feedback to the user that organization selection is required
            organizationInput.classList.add('is-invalid'); // Highlight the input field
            // alert('Please select an organization before submitting.'); // Alert or some better feedback
        } else {
            organizationInput.classList.remove('is-invalid'); // Remove the highlight if the selection is made
        }
    });
})

</script>

<%- include('partials/footer.ejs'); %>

